<li  class="button-input__context-menu__item  element__basket " id="generateDocument">
    <div class="button-input__context-menu__item__inner">

        <span class="button-input__context-menu__item__icon icon icon-inline"></span>

			<span class="button-input__context-menu__item__text">
									Создание документа
							</span>

    </div>
</li>