<div class="container">
  <form action="https://demo-retail.istupid.ru/apartment/addpay" method="post" id="import-form" enctype="multipart/form-data">
  <select name="pay" id="pay" placeholder="Тип оплаты">
      <option value="0" selected>100%</option>
      <option value="1">50%/50%/12</option>
      <option value="2">30%/70%/6</option>
    </select>
    <input type="text" name="discount" id="discount" placeholder="Скидка (в %)"/>
    <button type="submit">ОК</button>
  </form>
</div> 


