<li  class="button-input__context-menu__item  element__car " id="car_place">
    <div class="button-input__context-menu__item__inner">

        <span class="button-input__context-menu__item__icon icon icon-inline"></span>

			<span class="button-input__context-menu__item__text">
									Машиноместа
							</span>

    </div>
</li>