<div class="container">
    <!--span id="pdf-save">PDF</span-->
    <div class="filter">
      <a class="filter-tab">Фильтр</a>
      <div class="filter-form">
        <a class="filter-tab-open">Фильтр</a>
        <form action="" id="search-form">
          <div class="filter-inner">
            <div class="filter-inner-container">
              <div class="filter-row">
                <div class="filter-col-12 select-interval">
                  <label for="filter-floor">
                  Этаж: 
                  </label>
                  <select name="floor_from" class="select-arrow-filter">
                    <option value="0">Не важно</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="18">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                  </select> -
                    <select name="floor_to" class="select-arrow-filter">
                        <option value="0">Не важно</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                    </select>
                </div>
              </div>
              <div class="filter-row">
                <div class="filter-col-4">
                  <label for="filter-type" class="filter-col-12">
                  Тип кв.:
                  </label>
                  <select name="type" id="filter-type" class="select-arrow-filter">
                      <option value="0">Не важно</option>
                      <option value="1А">1А</option>
                      <option value="1Б">1Б</option>
                      <option value="1В">1В</option>
                      <option value="1Г">1Г</option>
                      <option value="1Д">1Д</option>
                      <option value="1Е">1Е</option>
                      <option value="1Ж">1Ж</option>
                      <option value="1И">1И</option>
                      <option value="1К">1К</option>
                      <option value="1Л">1Л</option>
                      <option value="1М">1М</option>
                      <option value="1П">1П</option>
                      <option value="2А">2А</option>
                      <option value="2Б">2Б</option>
                      <option value="2В">2В</option>
                      <option value="2Г">2Г</option>
                      <option value="3A">3A</option>
                      <option value="3Б">3Б</option>
                      <option value="3В">3В</option>
                      <option value="3Г">3Г</option>
                      <option value="3Д">3Д</option>
                      <option value="3E">3E</option>
                      <option value="3Ж">3Ж</option>
                      <option value="3И">3И</option>
                      <option value="3К">3К</option>
                      <option value="3Л">3Л</option>
                      <option value="3М">3М</option>
                      <option value="3Н">3Н</option>
                      <option value="4А">4А</option>
                      <option value="4Б">4Б</option>
                      <option value="4В">4В</option>
                  </select>
                </div>
                  <div class="filter-col-4">
                      <label for="filter-type" class="filter-col-4">
                          Подъезд:
                      </label>
                      <select name="porch" id="filter-type" class="select-arrow-filter">
                          <option value="0">Не важно</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                      </select>
                  </div>
              </div>
              <div class="filter-name second-filter-name">
                Квартира
              </div>
              <div class="filter-row filter-row-double">
                <div class="filter-col-4 select-interval">
                      <label class="label-12" for="filter-model">
                          Вид:
                      </label>
                      <select name="view" class="select-arrow-filter" id="filter-model">
                          <option value="0" selected>Не важно</option>
                          <option value="1">Во двор</option>
                          <option value="2">В парк</option>
                      </select>
                  </div>
                  <div class="filter-col-4 select-interval">
                      <label class="label-12" for="filter-model">
                          Кол-во комнат:
                      </label>
                      <select name="count_room" class="select-arrow-filter" id="filter-model">
                          <option value="0" selected>Не важно</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                      </select>
                  </div>
                  <div class="filter-col-4">
                      <label class="label-12" for="filter-model">
                          Номер:
                      </label>
                      <input type="text" value="0" class="flat-s-input" name="room_number">
                  </div>
              </div>
              <div class="filter-row">
                <div class="filter-col-12">
                  <label for="flat-s-from">
                  Площадь квартиры: 
                  </label>
                  <input type="text" value="0" class="flat-s-input" name="area_from" id="flat-s-from"> —
                 <input type="text" value="0" class="flat-s-input" name="area_to" id="flat-s-to">
                 м<sup>2</sup>
                </div>
              </div>
              <div class="filter-row filter-row-double">
                <div class="filter-col-6">
                  <label class="label-12" for="filter-price-from">
                  Стоимость:
                  </label>
                  <input type="text" value="0" class="flat-number-input price-input" name="total_price_from" id="filter-price-from"> —
                 <input type="text" value="0" class="flat-number-input price-input" name="total_price_to" id="filter-price-to"> &#8381;
                </div>
              </div>
              <div class="filter-row">
                <div class="filter-col-12">
                  <label for="filter-status">
                  Статус: 
                  </label>
                  <select name="status" class="select-arrow-filter" id="filter-status">
                    <option value="free" selected>В продаже</option>
                    <option value="sold">Продан</option>
                    <option value="booked">Бронь</option>
                    <option value="hold">Снят с продажи</option>
                  </select>
                </div>
              </div>
              <div class="line-row">
              </div>
              <div class="filter-row">
                <div class="filter-col-12">
                 <div class="filter-buttons">
                  <button type="submit" class="save" id="search-button">Применить</button>
                  <button type="reset" class="reset">Отменить</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <form>
          <table class="table">
            <tr class="row head-row">
                <td class="cell" colspan="3">Дом</td>
                <td class="cell" rowspan="2">Тип квартиры</td>
                <td class="cell" colspan="2">№№ Квартир</td>
                <td class="cell" rowspan="2">Ком.</td>
                <td class="cell" rowspan="2">Вид</td>
                <td class="cell" rowspan="2">S, м<sup>2</sup></td>
                <td class="cell" rowspan="2">Цена за м<sup>2</sup> (&#8381;)</td>
                <td class="cell" rowspan="2">Стоимость (&#8381;)</td>
                <td class="cell" rowspan="2">Статус</td>
            </tr>
            <tr class="row head-row">
                <td class="cell">кор.</td>
                <td class="cell">под.</td>
                <td class="cell">этаж</td>
                <td class="cell">уник.</td>
                <td class="cell floor-cell">на этаже</td>
            </tr>
            <tbody id="content-body"></tbody>
        </table>
        <div class="add-flat" {% if is_admin %} style="display:block" {% endif %}>
        <a href="#" >
            <span class="plus"><span class="plus-icon">+</span></span>
            </a>
            <a href="#" class="add-flat--link">Импорт</a>
        </div>

    </form>
    <form action="https://largus.istupid.ru/apartment/import" method="post" id="import-form" enctype="multipart/form-data">
        <input type="file" name="import" id="import-field" style="display: none" />
    </form>
  </div> 

  <script type="text/javascript">
  
  $(document).ready(function() {
    var getView = function(view_type) {
        return (view_type == 1) ? 'В парк' : 'Во двор';
    };

    var render = function(data) {
      var html = '';

      data.forEach(function(item) {
       html += '<tr class="row" data-id="' + item['id'] +'" title="' + item['deal_name'] + '">\
                <td class="cell">' + item['housing'] + '</td>\
                <td class="cell">' + item['porch'] + '</td>\
                <td class="cell">' + item['floor'] + '</td>\
                <td class="cell">' + item['type'] + '</td>\
                <td class="cell">' + item['room_number'] + '</td>\
                <td class="cell">' + item['room_number_in_floor'] + '</td>\
                <td class="cell">' + item['count_room'] + '</td>\
                <td class="cell">' + getView(item['view']) + '</td>\
                <td class="cell">' + item['area'] + '</td>\
                <td class="cell">' + Number(item['price']).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,') + '</td>\
                <td class="cell">' + Number(item['total_price']).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,') + ' </td>\
                <td class="cell">\
                <select name="status-1" class="select-arrow color-select">';

           if(item['status'] == 'free'){
               html += '<option value="free" selected>В продаже</option>\
                      <option value="booked">Бронь</option>\
                      <option value="sold">Продан</option>\
                      <option value="hold">Снят с продажи</option>';
           }

          if(item['status'] == 'booked'){
              html += '<option value="free">В продаже</option>\
                  <option value="booked" selected data-date="'+ item['booked_for'] +'">Бронь ('+ item['booked_for'] +')</option>\
                  <option value="sold">Продан</option>\
                  <option value="hold">Снят с продажи</option>';
          }

          if(item['status'] == 'sold'){
              html += '<option value="free">В продаже</option>\
                  <option value="booked">Бронь</option>\
                  <option value="sold" selected>Продан</option>\
                  <option value="hold">Снят с продажи</option>';
          }

          if(item['status'] == 'hold'){
              html += '<option value="free">В продаже</option>\
                  <option value="booked">Бронь</option>\
                  <option value="sold">Продан</option>\
                  <option value="hold" selected>Снят с продажи</option>';
          }

          html +=         '</select>\
                </td>\
                </tr>';
      });

      $('#content-body').ready(function(){
          $('#content-body').html(html);
      })
    };

//    $('#pdf-save').on('click', function(event) {
//        event.preventDefault();
//        event.stopPropagation();
//
//        html2canvas($('#content-body'),{
//            imageTimeout:2000,
//            removeContainer:true,
//            onrendered: function(canvs){
//                var img = canvas.toDataURL("image/png"),
//                        doc = new jsPDF({
//                            unit: 'px',
//                            format: 'a4'
//                        });
//                console.log(doc);
//                console.log(img);
//                doc.addImage(img, 'JPEG', 20, 20);
//                doc.save('techumber-html-to-pdf.pdf');
//            }
//        });
//
//    });

    $('#search-form').on('submit', function(event) {
      event.stopPropagation();
      event.preventDefault();

      var params = {};
      $(this).serializeArray().forEach(function(item) {
        if(item.value != 0) {
          params[item.name] = item.value
        }
      });
//      $.get('https://base.timpark.ru/apartment/search', params, function(data) {
      $.get('https://largus.istupid.ru/apartment/search', params, function(data) {
          $(".container").find('.filter').removeClass('active');
          $(".filter-inner-container").find(".filter-result").remove();
          render(data);
      }, 'json');
      return false;
    });

    $('#search-form input, #search-form select').on('change', function(event) {
      var self = this,
          timeout = 0,
          params = {};


      if($(this).closest('.radio-row').length > 0) {
        timeout = 100;
      }

      event.stopPropagation();
      event.preventDefault();

      setTimeout(function(){

        $('#search-form').serializeArray().forEach(function(item) {
          if(item.value != 0) {
            params[item.name] = item.value
          }
        });

        params['result_count'] = 1;
//        $.get('https://base.timpark.ru/apartment/search', params, function(data) {
        $.get('https://largus.istupid.ru/apartment/search', params, function(data) {

          $(".filter-inner-container").find(".filter-result").remove();
          $(self).parents(".filter-row").append("<div class='filter-result'>Найдено "+ data +". <a href='#' class='filter-res-link'>Показать</a></div>");
          $(".filter-res-link").on('click', function() {
            $(".filter-inner-container").find(".filter-result").remove();
            $(".container").find('.filter').removeClass('active');
            $('#search-form').trigger('submit');
          });

        }, 'json');
      }, timeout);
      return false;
    });

//    $.get('https://base.timpark.ru/apartment', function(data) {
    $.get('https://largus.istupid.ru/apartment', function(data) {
      setTimeout(function(){
        render(data);
      }, 200)
    }, 'json');



    $('.add-flat--link').on('click', function(event) {
        event.preventDefault();
        event.stopPropagation();
        $('#import-field').trigger('click');
    });


    $('#import-field').on('change', function(event) {
        $('#import-form').submit();
    });

    $(document).off('change', ".color-select");
    $(document).on('change', ".color-select", function() {
      var value = $(this).val(),
          name  = $(this).attr('name');

      switch (value) {
          case "hold":
              $(this).removeClass("sold");
              $(this).removeClass("reserved");
              $(this).removeClass("free");
              $(this).addClass("hold");
              $(this).parents(".cell").find('.datepicker-wrap').remove();
              var id = $(this).closest('.row').data('id'),
                      params = {
                          id: id,
                          status: 'hold'
                      };
//            $.get('https://base.timpark.ru/apartment/status', params, function(data) {
              $.get('https://largus.istupid.ru/apartment/status', params, function(data) {
              }, 'json');
              break;
        case "free":
          $(this).removeClass("sold");
          $(this).removeClass("reserved");
          $(this).removeClass("hold");
          $(this).addClass("sell");
          $(this).parents(".cell").find('.datepicker-wrap').remove();
            var id = $(this).closest('.row').data('id'),
                    params = {
                        id: id,
                        status: 'free'
                    };
//            $.get('https://base.timpark.ru/apartment/status', params, function(data) {
            $.get('https://largus.istupid.ru/apartment/status', params, function(data) {
            }, 'json');
          break;
        case "sold":
          $(this).removeClass("sell");
          $(this).removeClass("reserved");
          $(this).removeClass("free");

          $(this).addClass("sold");
          $(this).parents(".cell").find('.datepicker-wrap').remove();
            var id = $(this).closest('.row').data('id'),
                    params = {
                        id: id,
                        status: 'sold'
                    };
//            $.get('https://base.timpark.ru/apartment/status', params, function(data) {
            $.get('https://largus.istupid.ru/apartment/status', params, function(data) {
            }, 'json');
          break;
        case "booked":
          $(this).removeClass("sold");
          $(this).removeClass("sell");
          $(this).addClass("reserved");
          //календарь
          $(this).parent(".cell").append("<span class='datepicker-wrap'>до <input type='text' class='datepicker' id='" + name +"-date'></span>");

          $(".datepicker").datepicker({
            inline: true,
            monthNames: ["Январь", "Февраль", "Март", "Апрель",
            "Май", "Июнь", "Июль", "Август", "Сентябрь",
            "Октябрь", "Ноябрь", "Декабрь"],
            dayNamesMin: ["Вс","Пн","Вт","Ср","Чт","Пт","Сб"],
            firstDay: 1,
            dateFormat: 'dd.mm.yy'
          });

          break;
      } 
    });

    $('#content-body').on('change', '.datepicker', function(event){
       var id = $(this).closest('.row').data('id'),
           self = this,
           params = {
               id: id,
               status: 'booked',
               date: $(this).val(),
               lead: location.pathname.split('/')[3],
               deal_name: $('#person_name').val()
           };

//        $.get('https://base.timpark.ru/apartment/status', params, function(data) {
        $.get('https://largus.istupid.ru/apartment/status', params, function(data) {
            var row = $(self).closest(".cell")
            row.find('.datepicker-wrap').remove();
            row.find('select option:selected').text('Бронь (' + params.date + ')');
        }, 'json');
    });


    $(".filter-tab").on('click', function() {
      $(this).parents(".container").find(".filter").addClass('active');
    });
    $(".filter-tab-open").on('click', function() {
      $(this).parents(".container").find(".filter").removeClass('active');
      $(".filter-inner-container").find(".filter-result").remove();
    });

  
    $(".row").on('click', function() {
        if ($(".row").hasClass("selected")) {
            $(".row").removeClass("selected");
        } 
        if ($(this).hasClass("selected")) {
            $(this).removeClass("selected");
        } else {
            $(this).addClass("selected")
        }
    });

    $(".row input").on('click', function() {
        if ($(this).parents(".table").find(".controls").length) {
          $(this).parents(".table").find(".controls").remove();
          $(this).parent(".cell").append( "<div class='controls'><div class='save'>Сохранить</div><div class='update'></div><div class='cancel'></div></div>" );
            
        } else {
            $(this).parent(".cell").append( "<div class='controls'><div class='save'><span>Сохранить</span></div><div class='update'></div><div class='cancel'></div></div>" );
    }
    $(".controls .cancel").on('click', function() {
      if ($(".controls").find(".selected").length) {
        $(".controls").find(".selected").removeClass("selected");
      }

      if ($(this).hasClass("selected")) {
        $(this).removeClass("selected");
      } else {
        $(this).addClass("selected")
      }

      $(this).parent(".controls").remove();
    });

    $(".controls .save").on('click', function() {
      if ($(".controls").find(".selected").length) {
        $(".controls").find(".selected").removeClass("selected");
      }

      if ($(this).hasClass("selected")) {
        $(this).removeClass("selected");
      } else {
        $(this).addClass("selected")
      }
    });

     $(".controls .update").on('click', function() {
      if ($(".controls").find(".selected").length) {
        $(".controls").find(".selected").removeClass("selected");
      }

      if ($(this).hasClass("selected")) {
        $(this).removeClass("selected");
      } else {
        $(this).addClass("selected")
      }
    });
  });
});

 </script>  
